* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ================= BODY LAYOUT ================= */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    -webkit-tap-highlight-color: transparent;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /*background: url("/image/background.jpg") no-repeat center center/cover;*/
    background: white;

    filter: blur(10px);
    z-index: -1;
}

/* 🔥 Overlay */
.bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: white;
    /* adjust transparency */
}

/*========= loading Overlay ========*/
#loading-overlay {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.356);

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* for Safari */

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

/* White pulsing circle */
.loader-circle {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;

    animation: pulse 1s ease-in-out infinite;
}

/* Animation */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.6;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


/*========= Nav =========*/
/* ===== NAV CONTAINER ===== */
nav {
    position: sticky;
    top: 0;
    z-index: 100;

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px 15px;
    background: white;

}

/* ===== HEADER ROW ===== */
nav header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

/* back button */
nav header>div:first-child {
    width: 35px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

nav header>div:first-child:hover {
    background: black;
    color: white;
}

/* title */
nav .name {
    font-weight: bold;
    font-size: 18px;
}

/* profile */
.profile {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 20px;
    padding-right: 10px;
    border: 2px solid black;
}


.active-profile {
    background: black;
    color: white;

}


.user-icon,
.pro-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.user-icon {
    border: 1px solid white;
    background: white;
}

.user-icon i {
    color: black;
}

.pro-pic {
    display: none;
}

.pro-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

/* ===== MENU ROW ===== */
.nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* menu items */
.nav>div {
    display: flex;
    align-items: center;
    gap: 6px;

    padding: 8px 14px;
    border-radius: 20px;

    color: black;
    cursor: pointer;

    transition: 0.3s ease;
}

/* hover */
.nav>div:hover {
    background: black;
    color: white;
}

/* active menu */
.nav>div.active {
    background: black;
    color: white;
}

/* icons */
.nav i {
    font-size: 14px;
}

main {
    height: 90vh;
}

/* ===== PRODUCTS SECTION ===== */
/* center everything */
.product-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-height: 88vh;
    overflow: hidden;
    color: white;

}


/* ===== PRODUCT COUNT TOP ===== */
.product-count {
    position: absolute;
    top: 110px;
    left: 15px;
    right: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: black;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 20px;

    padding: 10px 15px;

    backdrop-filter: blur(10px);
    width: 300px;
    justify-self: center;
}

/* label */
.product-count h5 {
    font-size: 14px;
    color: white;
    font-weight: 500;
}

/* number */
.product-count p {
    font-size: 18px;
    font-weight: bold;
    color: #22c55e;
}

/* no product text */
.no-product-section {
    text-align: center;
    padding: 40px 20px;
    color: #555;
    max-width: 400px;
    margin: auto;
}

.no-product-icon {
    font-size: 60px;
    color: #999;
    margin-bottom: 15px;
}

.no-product-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.no-product-section p {
    font-size: 14px;
    margin: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.no-product-section i {
    color: black;
}
/*==== closing of no product section =====*/
/* PLUS CONTAINER */
.plus,
.upgrade {
    position: fixed;
    /* 🔥 key */
    bottom: 20px;
    right: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    z-index: 999;
    /* stays above everything */
}

/* ACTUAL BUTTON */
.plus-btn,
.upgrade-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: 0.3s ease;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    background: green;
}

/* icon */
.plus-btn i,
.upgrade i {
    color: white;
    font-size: 24px;
}

/* hover effect */
.plus-btn:hover {
    transform: scale(1.1) rotate(90deg);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

.upgrade {
    transition: 0.3s ease;
}

.upgrade:hover {
    transform: scale(1.1);
}

/* click effect */
.plus-btn:active {
    transform: scale(0.95);
}

/* ===== ADD PRODUCT FORM ===== */
.add-prod {
    position: fixed;
    /* float above everything */
    top: 50%;
    /* vertical center */
    left: 50%;
    /* horizontal center */
    transform: translate(-50%, -50%);
    /* truly center */

    width: 95%;
    max-width: 420px;
    padding: 20px;

    border-radius: 16px;
    background: white;

    display: flex;
    /* show with JS */
    flex-direction: column;
    gap: 18px;
    z-index: 9999;
    /* float above everything else */
}

.add-prod-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    /* semi-transparent background */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* make sure it’s above all other content */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

/* TITLE */
.add-prod h5 {
    text-align: center;
    font-size: 18px;
    color: #222;
}

/* ===== PRODUCT IMAGE ===== */
.prod-profile {
    width: 100%;
    height: 220px;

    border-radius: 14px;
    overflow: hidden;

    background: #f7f7f7;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s;
}

.prod-profile:hover {
    background: #f0f0f0;
}

/* ICON */
.prod-icon i {
    font-size: 36px;
    color: #bbb;
}

/* IMAGE */
.prod-pro-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;;
}

/* IMAGE BUTTONS */
.image-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 8px;
    margin: 0 20px 330px auto;
}

.image-buttons div {
    width: 34px;
    height: 34px;

    border-radius: 50%;
    background: rgba(255, 255, 255, 0.9);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: 0.2s;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.image-buttons i {
    color: black;
    font-size: 14px;
}

.image-buttons div:hover {
    background: #f2f2f2;
}

/* ===== INPUTS ===== */
.inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.split-input {
    display: flex;
    gap: 10px;
}

/* INPUT FIELDS */
.inputs input,
.inputs textarea {
    width: 100%;
    padding: 12px;

    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
    background: #fafafa;
    color: #333;

    font-size: 14px;
    outline: none;

    transition: 0.2s;
}

.inputs input:focus,
.inputs textarea:focus {
    background: #fff;
    border-color: #ddd;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.03);
}

/* TEXTAREA */
.inputs textarea {
    height: 110px;
    resize: none;
}

/* ===== CUSTOM SELECT ===== */
.custom-select {
    background: #fafafa;
    border: 1px solid #eee;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.custom-select .selected::after {
    content: "▾";
    position: absolute;
    right: 12px;
    color: #999;
}

/* OPTIONS */
.custom-select .options {
    position: absolute;
    top: 105%;
    left: 0;
    right: 0;

    background: #fff;
    border-radius: 10px;

    display: none;
    max-height: 180px;
    overflow-y: auto;

    border: 1px solid #eee;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.568);
}

.custom-select .option {
    padding: 10px;
    transition: 0.2s;
}

.custom-select .option:hover {
    background: #f5f5f5;
}

/* ===== BUTTONS ===== */
.add-or-cancel-prod {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.add-or-cancel-prod button {
    flex: 1;
    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}

/* ADD BUTTON */
.add-btn {
    border: 1px green solid;
    background: #f9f9f9;
    color: #333;
}

.add-btn:hover,
.cancel-btn:hover {
    transform: scale(1.05);
}

/* CANCEL BUTTON */
.cancel-btn {
    border: 1px red solid;
    background: #fff;
    color: red;
}


/*======= CSS for no internet connect ========*/
.no-internet {
    display: none;
    /*display: flex;*/
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    color: #555;
    height: 100%;
   
}

.icon-container i {
    font-size: 4rem;
    color: red; /* A soft red for errors */
    margin-bottom: 20px;
}

.btn-refresh {
    margin-top: 15px;
    padding: 10px 25px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-refresh:hover {
    transform: scale(1.05);
}

/*=======Closing css for no internet fount=======*/
/*======opening for no products found ======*/
.no-found-products {
    display: none;
    /*display: flex;*/
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    text-align: center;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 500px;
    height: 100%;
}

.no-found-products .icon-container i {
    font-size: 3.5rem;
    color: black; /* Soft grey */
    margin-bottom: 20px;
}

.no-found-products h3 {
    font-size: 1.5rem;
    color: #2d3748;
    margin-bottom: 10px;
}

.no-found-products p {
    color: #718096;
    margin-bottom: 25px;
}

.empty-actions {
    display: flex;
    gap: 10px;
}

.btn-browse {
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.btn-browse {
    background-color: green;
    color: white;
}

.btn-browse:hover {
    background-color: #357abd;
}

/*Closing for no products found*/

/* ===== PRODUCT LIST (GRID CONTAINER) ===== */
.product-list {

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    align-items: start;
    margin-top: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    display: none;
    height: 100%;
    width: 100%;

}

.product-list::-webkit-scrollbar {
    width: 6px;
    position: fixed;
}

.product-list::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}

.product-list::-webkit-scrollbar-track {
    background: transparent;
}

/* ===== PRODUCT CARD ===== */
.list-card {
    gap: 3px;
    background: white;
    box-shadow: 0 0 3px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
    cursor: pointer;
    width: 100%;
}

/* PRODUCT IMAGE */
.list-card .prod-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

/* PRODUCT NAME */
.list-card .pord-name {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-left: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* PRODUCT ID */
.list-card .prod-id {
    font-size: 12px;
    color: black;
    margin-left: 9px;
    word-break: break-all;
}

/* PRODUCT PRICE */
.list-card .prod-price {
    font-size: 14px;
    font-weight: 500;
    color: green;
    margin-left: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* PRODUCT DESCRIPTION */
.list-card .final-prod-description {
    font-size: 13px;
    color: black;
    margin: 0 10px;
    padding: 2px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    width: 300px;

    /* handles long strings */
}


/* ACTION BUTTON CONTAINER */
.edith-delete-prod {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 12px 0;
}

/* BASE BUTTON STYLE */
.edith-delete-prod div {
    display: flex;
    align-items: center;
    gap: 6px;

    padding: 8px 14px;
    border-radius: 999px;

    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
    transition: all 0.25s ease;

    user-select: none;
}

/* EDIT BUTTON */
.edith-prod {
    border: 1px solid #2ecc71;
    color: #2ecc71;
    background: rgba(46, 204, 113, 0.08);
}

.edith-prod i {
    color: #2ecc71;
}

/* HOVER EDIT */
.edith-prod:hover {
    background: #2ecc71;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 5px 12px rgba(46, 204, 113, 0.25);
}

.edith-prod:hover i {
    color: white;
}

/* DELETE BUTTON */
.delete-prod {
    border: 1px solid #e74c3c;
    color: #e74c3c;
    background: rgba(231, 76, 60, 0.08);
}

.delete-prod i {
    color: #e74c3c;
}

/* HOVER DELETE */
.delete-prod:hover {
    background: #e74c3c;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 5px 12px rgba(231, 76, 60, 0.25);
}

.delete-prod:hover i {
    color: white;
}

.posted-at {
    color: white;
    font-size: 12px;
    background: black;
    height: max-content;
    padding: 5px 10px;
    border-radius: 20px;
    width: max-content;
    margin: 0 auto 10px auto;
    font-weight: bolder;
}

/* ===== EDIT PRODUCT CONTAINER ===== */
.edith-prod-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.356);

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* for Safari */

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 9998;
}

.prod-edit {
    width: 95%;
    max-width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: white;
}

/* ===== IMAGE SECTION ===== */
.prod-edit .prod-image-update {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
}

/* IMAGE BUTTONS (overlay style) */
.prod-edit .edit-image-button {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: -60px;
    /* overlaps image slightly */
    padding-right: 10px;
}

.prod-edit .edit-image-button div {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.select-image {
    display: flex;
    border-radius: 50%;
    background: green;
}

.cancel-selected-image {
    display: none;
    border-radius: 50%;
    background: red;
}

.prod-edit .edit-image-button div:hover {
    transform: scale(1.055);
}

.prod-edit .edit-image-button i {
    color: white;
    font-size: 16px;
}

/* ===== INPUTS ===== */
.prod-edit .edith-input {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.edith-split-input {
    display: inline-flex;
    gap: 10px;
}

/* text inputs */
.prod-edit .edith-input input,
.prod-edit .edith-input textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.05);
    color: black;
    outline: none;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
}

/* textarea */
.prod-edit .edith-input textarea {
    min-height: 120px;
    resize: vertical;
}

/* CATEGORY DISPLAY */
.prod-edit .edith-prod-category {
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    color: black;
    font-size: 14px;
}

/* ===== BUTTONS ===== */
.prod-edit .save-or-cancel {
    display: flex;
    gap: 10px;
}

.prod-edit .save-or-cancel button {
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

/* Save button */
.prod-edit .save-edith {
    background: transparent;
    border: 1px green solid;
    color: black;
    margin-left: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
}

.prod-edit .save-edith:hover,
.prod-edit .cancel-edth:hover {
    transform: scale(1.145);
}

/* Cancel button */
.prod-edit .cancel-edth {
    background: transparent;
    border: 1px red solid;
    color: red;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
}

/*Plans*/
.upgrade-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.356);

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* for Safari */

    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    z-index: 9999;
}

/* CLOSE BUTTON */
.upgrade-overlay>button {
    position: absolute;
    top: 20px;
    right: 20px;

    background: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* MODAL CONTAINER */
.upgrade-modal {
    display: flex;
    gap: 20px;

    overflow-x: auto;
    /* 👈 REQUIRED for scrolling */
    scroll-snap-type: x mandatory;
    /* 👈 you already had this */

    width: 90%;
    max-width: 1000px;
    padding: 10px;
}

.upgrade-modal::-webkit-scrollbar {
    height: 6px;
    position: fixed;
    margin-top: 20px;
}

.upgrade-modal::-webkit-scrollbar-thumb {
    background-color: white;

    border-radius: 10px;
}

.upgrade-modal::-webkit-scrollbar-track {
    background: transparent;
}


/* PLAN CARDS (shared style) */
.free-plan,
.plus-plan,
.pro-plan {
    background: black;
    border-radius: 15px;
    padding: 20px;

    min-width: 280px;
    /* 👈 IMPORTANT (not width) */
    flex: 0 0 auto;
    /* 👈 prevents shrinking */
    scroll-snap-align: center;
    /* 👈 SNAP HERE */

    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

/* HOVER EFFECT */
.free-plan:hover,
.plus-plan:hover,
.pro-plan:hover {
    transform: translateY(-5px);
}

/* HEADER */
.free-plan header,
.plus-plan header,
.pro-plan header {
    margin-bottom: 10px;
}

header h4 {
    margin: 0;
    font-size: 25px;
}

header p {
    margin: 5px 0 0 20px;
    color: #777;
    font-size: 17px;
    font-weight: bolder;
}

/* BODY */
.body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    margin-bottom: 15px;

    height: 100%;
    justify-content: center;
}

/* CHECK ICON */
.body i {
    color: green;
    margin-right: 6px;
}

/* BUTTON (shared for Plus & Pro) */
.plus-plan button,
.pro-plan button {
    margin-top: auto;
    padding: 12px;

    border: none;
    border-radius: 8px;

    font-weight: 600;
    cursor: pointer;

    transition: 0.3s;
}

/* PLUS BUTTON */
.plus-plan button {
    background: #007bff;
    color: #fff;
}

.free-plan {
    border: 2px solid green;
    transform: scale(1.05);
}

.plus-plan {
    border: 2px solid #007bff;
    transform: scale(1.05);
}

.plus-plan button:hover {
    background: #0056d2;
}

/* PRO BUTTON (highlighted) */
.pro-plan {
    border: 2px solid #6f42c1;
    transform: scale(1.05);
}

.pro-plan button {
    background: #6f42c1;
    color: #fff;
}

.pro-plan button:hover {
    background: #4b2a91;
}

/* FREE PLAN (disabled feel) */
.free-plan {
    opacity: 0.8;
}


/*Edith account*/
.my-profile {
    height: 100%;
    align-content: center;
    justify-items: center;
    display: none;
    padding: 5px;
}

.active-profile {
    background: black;
    color: white;
    border-radius: 20px;
    padding-right: 10px;
}

.edith-profile {
    justify-items: center;
}

.edith-user-icon {
    background: rgba(255, 255, 255, 0.05);
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 140px;
    margin: 0 auto;
    border-radius: 50%;
    color: black;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
}

.profile-pic>img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-pic>input {
    display: none;
}

/*profile action*/
.profile-actions {
    width: 40px;
    height: 40px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
}

.quick-buttons {
    display: flex;
}

.quick-buttons div {
    border: none;
}


.copy-container {
    display: flex;         
    align-items: center;   
    gap: 10px;            
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: fit-content;    
}

.copy-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.copy-link:hover{
    color: #4b2a91;
    text-decoration: underline;
}

.copy-icon {
    display: flex;
    cursor: pointer;       
    color: white;
    transition: color 0.2s;
    background: black;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.copy-icon:hover {
    color: #333;           
}

.edit-account-email,
.edit-account-phone {
    margin: 10px 0;
    display: flex;
    justify-items: center;
    border-radius: 10px;
    align-items: center;
}

.upload-new-profile,
.edith-old-profile,
.cance-profile-update {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-weight: bolder;
    background: black !important;
    margin: 10px 7px 0 0;
    color: black;
}

/*====== COUNTRY INFO CSS ========*/
.account-country-info{
    display: flex;
    background: black;
    padding: 5px;
    margin: 5px;
    align-items: center;
    width: 35%;
    border-radius: 10px;
    justify-content: space-between;
}

.account-country-info > img{
    width: 40px;
    height: 30px;
    border-radius: 5px;
}

.account-country-info > p{
    font-size: 14px;
    font-weight: bolder;
}

.edit-account-email button,
.edit-account-phone button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-weight: bolder;
    background: transparent;
    background: black;
    margin: 0 7px 0 0;
}

.edit-account-email .field-buttons,
.edit-account-phone .field-buttons {
    display: inline-flex;
    margin: 0 0 0 10px;
}

.upload-new-profile,
.upload-new-email,
.upload-new-phone {
    color: white;
    background: green !important;
}

.edith-old-profile,
.edith-old-email,
.edith-old-phone {
    color: white;
    background: black !important;
}

.cance-profile-update,
.cancel-email-update,
.cancel-phone-update {
    color: white;
    background: red !important;
}

.account-info {
    margin-top: 20px;
}

.account-info p:nth-child(1) {
    color: black;
    margin: 5px 0;
    width: 330px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 30px;
}

.account-info p:nth-child(2) {
    margin: 5px 0;
    width: 330px;
    padding: 0 0 7px 25px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 13px;
    color: black;
}

.display-email,
.display-phone {
    background: black;
    margin: 5px 0;
    width: 280px;
    padding: 7px;
    border-radius: 10px;
    font-weight: bolder;
    color: white;
}

/*Email*/
.new-email-input,
.new-phone-input {
    width: 230px;
    padding: 10px 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    display: none;
    background: black;
    color: white;
    font-weight: bolder;
}

.delete-account {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: black;
}

/* HEADER */
.delete-account header p {
    font-size: 18px;
    font-weight: 600;
    color: red;
    margin-bottom: 6px;
    text-align: center;
}

.delete-account header span {
    font-size: 13px;
    color: white;
    line-height: 1.4;
}

/* INPUT */
.delete-account input {
    padding: 12px 14px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;

    font-size: 14px;
    transition: 0.2s;
}

.delete-account input:focus {
    border-color: #e74c3c;
    box-shadow: 0 0 0 3px rgba(231, 76, 60, 0.15);
}

/* BUTTON */
.delete-account button,
.log-out button {
    padding: 12px;
    border: none;
    border-radius: 10px;

    background: #e74c3c;
    color: white;

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;
    transition: 0.25s;
}

/* HOVER EFFECT */
.delete-account button:hover,
.log-out button:hover {
    background: #c0392b;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(231, 76, 60, 0.3);
}

/* ACTIVE CLICK */
.delete-account button:active {
    transform: scale(0.98);
}

.no-order-section {
    width: 100%;
    height: 85.5vh;
    color: black;
    align-content: center;
    justify-items: center;
    display: none;
}

.no-order-section p {
    font-size: 20px;

}


.order-section {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    align-items: start;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    display: none;
    width: 100%;
}

/* ================= ORDER CARD ================= */
.order-cart {
    background: #ffffff;
    border-radius: 16px;
    padding: 18px;
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    border: 1px solid #eee;

    display: flex;
    flex-direction: column;
    gap: 14px;

    transition: 0.25s ease;
}

.order-cart:hover {
    transform: scale(0.98);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.144);
}

/* ================= HEADER ================= */
.order-header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;

    font-size: 12px;
    color: #666;
}

.order-index {
    background: #000;
    color: #fff;
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: bold;
}

.order-id {
    font-weight: 600;
    color: #111;
}

.order-date,
.order-time {
    background: rgba(0, 0, 0, 0.199);
    padding: 4px 8px;
    border-radius: 8px;
}

/* ================= PRODUCT ================= */
.product-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.product-name {
    font-size: 16px;
    font-weight: 600;
    color: #111;
}

.product-id {
    font-size: 12px;
    color: #888;
    padding: 5px 0;
}

.customer-phone {
    display: flex;
    margin: 5px 0;
}

.phone {
    background: rgba(0, 0, 0, 0.199);
    padding: 4px 8px;
    border-radius: 8px;
    color: black;
    font-size: 12px;
    align-content: center;
}

.phone-icon {
    width: 30px;
    height: 30px;
    background: green;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    transition: 0.3s ease;
}

.phone-icon:hover {
    transform: scale(1.13);
}

/* ================= DETAILS ================= */
.order-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
}

.detail {
    background: rgba(0, 0, 0, 0.199);
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.detail span {
    font-size: 11px;
    color: #777;
}

.detail strong {
    font-size: 14px;
    color: #000;
}

/* TOTAL highlight */
.detail.total {
    background: #000;
    color: #fff;
}

.detail.total span {
    color: #bbb;
}

.detail.total strong {
    color: #fff;
}

/* ================= ACTIONS ================= */
.order-cart-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* BUTTON BASE */
.order-cart-actions button {
    padding: 10px 16px;
    border-radius: 25px;
    border: none;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;

    transition: 0.25s ease;
}

/* ACCEPT BUTTON */
.accept-btn {
    background: green;
    color: #fff;
}

.accept-btn:hover {
    background: #16a34a;
    transform: scale(1.05);
}

/* REJECT BUTTON */
.reject-btn {
    background: red;
    color: #fff;
}

.reject-btn:hover {
    background: #dc2626;
    transform: scale(1.05);
}

/* ================= STATUS ================= */
.order-cart-status {
    display: flex;
    justify-content: center;
}

/* STATUS BASE */
.status {
    padding: 6px 14px;
    font-size: 14px;
    font-weight: 600;
    display: none;
}

/* ACCEPTED */
.status.accepted {
    color: green;
}

/* REJECTED */
.status.rejected {
    color: red;
}

/* Phone input adjustments */
.iti {
    width: 100%;
}

.iti__selected-flag {
    max-width: 90px;
}

.iti__country-list {
  color: black;
}
.iti__search-input {
   border-radius: 20px;
}


/* RESPONSIVE */
@media (max-width: 770px) {

    nav header>div:first-child {
        background: black;
        color: white;
    }

    nav header>div:first-child:hover {
        background: black;
        color: white;
    }

    .product-list {
        grid-template-columns: 1fr;
        gap: 0;
        padding: 2px;
        margin-top: 55px;
    }

    .list-card {
        border-radius: 0;
        border: none !important;
        box-shadow: none;
    }

    .list-card .prod-img {
        height: 250px;
        border-radius: 0;
    }

    .image-buttons {
        bottom: 3px;
        right: 3px;
        gap: 6px;
    }

    .image-buttons .camera,
    .image-buttons .cancel {
        width: 30px;
        height: 30px;
    }

    .inputs textarea {
        height: 90px;
    }


    .prod-edit .edit-image-button {
        margin-top: -55px;
    }

    .prod-edit .edit-image-button div {
        width: 35px;
        height: 35px;
    }

    .upgrade-modal {
        align-items: center;
    }

    .pro-plan {
        transform: scale(1);
        /* prevent overflow on small screens */
    }
    
    .order-cart {
        padding: 14px;

    }

    .order-cart:hover {
        transform: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    }

    .order-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .order-cart-actions {
        justify-content: center;

    }
    .account-country-info{
        width: 310px;
    }

    .copy-container{
        width: 350px;
    }

    .copy-container .copy-link{
        font-size: 12px;
    }
}